/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
} */



.school {
  border: 2px solid tomato;
  border-radius: 10px;
  margin: 10px;
}

.card {
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
